<!doctype html>
<html class="no-js" lang="en">
<head>
  <title>{% block title %}{{ SITENAME }}{% endblock title %}</title>
  <meta charset="utf-8" />
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta name="description" content="{% block description %}{{ SITEDESCRIPTION }}{% endblock description %}">
  <meta name="author" content="{{ AUTHOR }}">
  <link rel="stylesheet" href="{{ SITEURL}}/theme/css/foundation.min.css" media="all"/>
  <script type="text/javascript" src="{{ SITEURL }}/theme/js/modernizr.js"></script>
  <link href='https://fonts.googleapis.com/css?family=Exo+2:400,300,700,300italic,400italic,700italic,900,900italic' rel='stylesheet' type='text/css'>
  <link rel="stylesheet" href="{{ SITEURL }}/theme/css/lamboz.css" media="all">
  <link rel="shortcut icon" href="{{ SITEURL }}/images/favicon.ico">
  <link href='https://unpkg.com/boxicons@2.1.4/css/boxicons.min.css' rel='stylesheet'/> 
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
  {% block head %}
  {% include 'feedlinks.html' %}
  {% endblock head %}
  {% raw %} <!-- Preventing FOUC -->
  <script type="text/javascript">
    var elm=document.getElementsByTagName("html")[0];
    elm.style.display="none";
    document.addEventListener("DOMContentLoaded",function(event) {
		elm.style.display="block";
	});
  </script>
  {% endraw %} <!-- Preventing FOUC -->
</head>
<body>
    <div class="app-bar">
        <div class="pages">
            <ul>
                <li class="home"><a href="{{ SITEURL }}/index.html">{{SITESHORTNAME}}</a></li>
                {% for title, url in MENUITEMS %}
                <li {% if title == page %} class="active"{% endif %}>
                   <a href="{{ SITEURL }}/{{ url }}">{{ title }}</a>
                </li>
                {% endfor %}
                {% if DISPLAY_PAGES_ON_MENU %}
                            <li class="divider-vertical"></li>
                {% for page in pages %}
                <li><a href="{{ SITEURL }}/{{ page.url }}">{{ page.title }}</a></li>
                {% endfor %}
                {% endif %}
            </ul>
        </div>
        {% if SOCIAL %}
        <div class="social">
            <ul>
                {% for name, id, link, icon in SOCIAL %}
                <li><a title="{{name}}: {{id}}" target='_blank' href="{{ link }}"><i class='{{ icon }} bx-sm'></i></a></li>
                {% endfor %}
            </ul>
        </div>
        {% endif %}
    </div>
    {% block pageheader %}
    <div class="hp-header">
        <div class="page-header">
            <div class="content-header">
                <div id="title-block">
                <h1><a href="{{ SITEURL }}/">{{ SITENAME }}</a></h1>
                <p class="blurb">{{ SITESUBTITLE }}</p>
                </div>
            </div>
        </div>
    </div>
    {% endblock %}
    <div class="content">
        <div class="data-holder">
        <div class="row">
            <div class="aside content-column column large-2">
            {% block rightside %}
            {% endblock %}
            </div>
           <div class="large-10 content-column column">
                {% block content %}
                {% endblock %}
            </div>
            <div class="large-2 aside column">
                {% if LINKS %}
                <h3>Links</h3>
                <ul>
                    {% for title,link in LINKS %}
                    <li><a href="{{ link }}">{{ title }}</a></li>
                    {% endfor %}
                </ul>
				{% endif %}
                {% if tags %}
                <h3>Tags</h3>
                <ul>
                    {% for t,tx in tags %}
                    <li{% if (page or article) and t in (page or article).tags %} class="active"{% endif %}><a href="{{ SITEURL }}/{{ t.url }}">{{ t }}</a>&nbsp;({{ tx | length }})</li>
                    {% endfor %}
                </ul>
				{% endif %}
                {% if categories %}
                <h3>Categories</h3>
                <ul>
                    {% for t,tx in categories %}
                    <li{% if (page or article) and t == (page or article).category %} class="active"{% endif %}><a href="{{ SITEURL }}/{{ t.url }}">{{ t }}</a>&nbsp;({{ tx | length }})</li>
                    {% endfor %}
                </ul>
				{% endif %}
            </div>
         </div>
    </div>
</div>
    <div class="footer">
        <div class="data-holder">
        {% block footer %}
        <div class="row">
            <div class="large-3 column">
            {# include 'credits.html' #}
           </div>
           <div class="large-6 tag-cloud column">
                <h3>Tags</h3>
                <ul>
                    {% for t,tx in tags %}
                    <li{% if t==tag %} class="active"{% endif %}><a href="{{ SITEURL }}/{{ t.url }}">{{ t }}</a>({{ tx | length }})</li>
                    {% endfor %}
                </ul>
            </div>
            <div class="large-3 category-column column">
                <h3>Categories</h3>
                <ul>
                    {% for cat,l in categories %}
                    <li{% if cat==category %} class="active"{% endif %}><a href="{{ SITEURL }}/{{ cat.url }}">{{ cat }}</a> ({{ l | length }})</li>
                    {% endfor %}
                </ul>
             
            </div>

        </row>
        {% endblock %}
        </div>
        {% include 'trademark.html' %}
    </div>
</body>
</html>
